In [1]:
import numpy as np
import pandas as pd

In [2]:
from pandas_datareader import data as web

In [3]:
import matplotlib.pyplot as plt

In [4]:
import datetime as dt

In [5]:
import talib as ta

In [16]:
start = '2015-04-22'
end = '2019-04-22'
symbol = 'TC1/YESBANK'
max_holding = 100

In [17]:
price = web.DataReader(name=symbol,data_source='quandl',start=start,end=end)

RemoteDataError: Unable to read URL: https://www.quandl.com/api/v3/datasets/TC1/YESBANK.csv?start_date=2015-04-22&end_date=2019-04-22&order=asc
Response Text:
b'code,message\nQEPx05,"You have attempted to view a premium database in anonymous mode, i.e., without providing a Quandl key. Please register for a free Quandl account, and then include your API key with your requests."\n'

In [9]:
type(price)

pandas.core.frame.DataFrame

In [11]:
price.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,158.50,159.7655,156.47,157.48,3194878.0,0.0,1.0,158.50,159.7655,156.47,157.48,3194878.0
2018-03-26,156.21,158.2000,156.21,158.01,3419642.0,0.0,1.0,156.21,158.2000,156.21,158.01,3419642.0
2018-03-23,157.59,158.0800,154.92,154.98,3337592.0,0.0,1.0,157.59,158.0800,154.92,154.98,3337592.0
2018-03-22,157.85,159.1200,156.85,157.04,3646979.0,0.0,1.0,157.85,159.1200,156.85,157.04,3646979.0
2018-03-21,160.00,160.4100,158.29,158.66,3494739.0,0.0,1.0,160.00,160.4100,158.29,158.66,3494739.0

In [12]:
price = price.iloc[::-1]

In [13]:
price.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2015-04-22,97.00,99.35,96.240,97.84,19253001.0,0.0,1.0,89.985614,92.165678,89.280572,90.764871,19253001.0
2015-04-23,97.44,97.52,96.555,97.00,6317607.0,0.0,1.0,90.393796,90.468011,89.572793,89.985614,6317607.0
2015-04-24,96.99,99.08,96.840,98.74,7741339.0,0.0,1.0,89.976337,91.915202,89.837184,91.599789,7741339.0
2015-04-27,98.74,98.94,96.260,96.44,7203201.0,0.0,1.0,91.599789,91.785326,89.299126,89.466109,7203201.0
2015-04-28,96.27,96.89,95.780,96.83,4357219.0,0.0,1.0,89.308403,89.883568,88.853836,89.827907,4357219.0